@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color styles */
  --white: #ffffff;
  --color-primary-a0: #fe4500;
  --color-primary-a10: #fe6028;
  --color-primary-a20: #fe7743;
  --color-primary-a30: #fe8b5d;
  --color-primary-a40: #fe9f77;
  --color-primary-a50: #feb390;
  --color-surface-a0: #121212;
  --color-surface-a10: #282828;
  --color-surface-a20: #3f3f3f;
  --color-surface-a30: #575757;
  --color-surface-a40: #717171;
  --color-surface-a50: #8a8a8a;
  --color-surface-mixed-a0: #281913;
  --color-surface-mixed-a10: #3d2e28;
  --color-surface-mixed-a20: #53453f;
  --color-surface-mixed-a30: #695c58;
  --color-surface-mixed-a40: #807571;
  --color-surface-mixed-a50: #988e8b;
  --light-color-surface-a0: #fef9ef;
  --light-color-surface-mixed-a0: #fea77d;
  --light-color-surface-mixed-a10: #feb18a;
  --light-color-surface-mixed-a20: #feba98;
  --light-color-surface-mixed-a30: #fec4a6;
  --light-color-surface-mixed-a40: #feceb4;
  --light-color-surface-mixed-a50: #fed7c3;
}
