<div
  class="EXERCISE-BOX bg-darkSurface-a30 bg-opacity-30 rounded-sm w-full h-52 justify-self-center flex flex-col MatrixBoxEffectGrey md:h-64 cursor-pointer"
>
  <div class="bg-black w-full max-h-[80%] h-full"></div>
  <p
    class="text-center text-xl md:text-2xl tracking-wider MatrixTextEffectWhiteLow"
  >
    Handstand push up
  </p>
</div>
