<a href="/exercise/<%= index %>">
  <div
    class="relative div-3 EXERCISE-BOX bg-darkSurface-a30 hover:bg-[#7070702b] bg-opacity-30 rounded-sm w-full h-52 justify-self-center flex flex-col MatrixBoxEffectGrey md:h-64 animate__animated animate__fadeIn animate__faster"
    style="animation-delay: <%= delay %>ms"
  >
    <div class="bt-hover absolute w-full h-full"></div>
    <div
      class="bg-black w-full max-h-[80%] h-full bg-cover bg-center"
      style="
        background-image: url('<%= image_url %>');
        filter: grayscale(1) brightness(0.5) blur(0.65px);
      "
    ></div>
    <p
      class="name text-center text-xl md:text-2xl tracking-wider MatrixTextEffectWhiteLow"
    >
      <%= name %>
    </p>
  </div>
</a>
