<div
  class="EXERCISE-BOX bg-darkSurface-a30 bg-opacity-30 rounded-sm w-full aspect-square justify-self-center flex flex-col MatrixBoxEffectGrey md:h-64 cursor-pointer md:max-w-xl"
>
  <div class="w-full h-full grid grid-cols-4 grid-rows-4 md:grid-rows-1">
    <div
      class="bg-green-900 row-span-3 col-span-3 md:row-span-1 md:col-span-1  w-full h-full"
    ></div>
    <div class="bg-green-600 w-full h-full"></div>
    <div class="bg-green-400 w-full h-full"></div>
    <div class="bg-green-200 w-full h-full"></div>
    <div class="w-full h-full col-span-full flex justify-center items-center">
      <p
        class="text-center text-3xl md:text-4xl tracking-wider MatrixTextEffectWhiteLow"
      >
        One arm push up
      </p>
    </div>
  </div>
</div>
