<header
  class="sticky w-screen top-0 pt-3 h-12 flex justify-center items-center z-30"
  id="header"
>
  <div class="flex gap-3 headerDiv" id="headerDiv">
    <a href="/" class="flex flex-col items-center relative">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="32px"
        viewBox="0 -960 960 960"
        width="32px"
        fill="#5f6368"
        class="MatrixSVGEffect md:w-12 md:h-10"
      >
        <path
          d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"
          class="MatrixSVGEffect"
        />
      </svg>
      <div
        class="text-xl uppercase absolute bottom-[-2.5rem] left-1/2 transform -translate-x-1/2 p-3 animate__animated animate__faster hidden"
      >
        home
      </div>
    </a>
    <a href="/exercises" class="relative">
      <div
        class="text-xl uppercase absolute bottom-[-2.5rem] left-1/2 transform -translate-x-1/2 p-3 animate__animated animate__faster hidden"
      >
        exercises
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="32px"
        viewBox="0 -960 960 960"
        width="32px"
        fill="#5f6368"
        class="MatrixSVGEffect md:w-12 md:h-10"
      >
        <path
          d="m80-449 44-70 316 297q12 11 26.5 16.5T495-200q12 0 23-3.5t20-8.5l342-216v94L580-145q-19 12-40.5 18.5T494-120q-30 0-58-11.5T385-164L80-449Zm430 189q17 0 28.5-11.5T550-300q0-2-4-17l142-89q5 8 13.5 12t18.5 4q17 0 28.5-11.5T760-430q0-14-9-25t-23-14q1-2 1.5-5t.5-6q0-17-11.5-28.5T690-520q-17 0-28.5 11.5T650-480q0 4 7 22l-142 88q-5-9-14.5-14.5T480-390q-17 0-28.5 11.5T440-350q0 14 9 25t23 14q-1 2-1.5 5t-.5 6q0 17 11.5 28.5T510-260ZM257-732l43-68q75 37 139 101.5T535-564q36-38 79.5-60.5T736-668q46-13 79.5-25t64.5-27v88q-27 11-56.5 21T757-591q-84 22-125.5 49T554-458q-5 8-14 13t-20 5q-14 0-25-9t-14-22q-18-76-80.5-149T257-732ZM124-519q72 67 158 148.5T440-222q12 11 26.5 16.5T495-200q12 0 23-3.5t20-8.5q63-39 165-103.5T880-428L538-212q-9 5-20 8.5t-23 3.5q-14 0-28.5-5.5T440-222L124-519Z"
          class="MatrixSVGEffect"
        />
      </svg>
    </a>
    <a href="/progressions" class="relative">
      <div
        class="text-xl uppercase absolute bottom-[-2.5rem] left-1/2 transform -translate-x-1/2 p-3 animate__animated animate__faster hidden"
      >
        progressions
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="32px"
        viewBox="0 -960 960 960"
        width="32px"
        fill="#5f6368"
        class="MatrixSVGEffect md:w-12 md:h-10"
      >
        <path
          d="m136-240-56-56 296-298 160 160 208-206H640v-80h240v240h-80v-104L536-320 376-480 136-240Z"
          class="MatrixSVGEffect"
        />
      </svg>
    </a>

    <a href="" class="relative">
      <div
        class="text-xl uppercase absolute bottom-[-2.5rem] left-1/2 transform -translate-x-1/2 p-3 animate__animated animate__faster hidden"
      >
        exercise++
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="32px"
        viewBox="0 -960 960 960"
        width="32px"
        fill="#5f6368"
        class="MatrixSVGEffect md:w-12 md:h-10"
      >
        <path
          d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Zm40 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"
          class="MatrixSVGEffect"
        />
      </svg>
    </a>

    <a href="" class="relative">
      <div
        class="text-xl uppercase absolute bottom-[-2.5rem] left-1/2 transform -translate-x-1/2 p-3 animate__animated animate__faster hidden"
      >
        about
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="32px"
        viewBox="0 -960 960 960"
        width="32px"
        fill="#5f6368"
        class="MatrixSVGEffect md:w-12 md:h-10"
      >
        <path
          d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H160v400Zm140-40-56-56 103-104-104-104 57-56 160 160-160 160Zm180 0v-80h240v80H480Z"
          class="MatrixSVGEffect"
          class="MatrixSVGEffect"
        />
      </svg>
    </a>
  </div>
</header>

<script defer>
  const headerDiv = document.getElementById("headerDiv");
  document.addEventListener("scroll", (e) => {
    if (window.scrollY > 48) headerDiv.classList.add("onScroll");
    else headerDiv.classList.remove("onScroll");
  });

  const headerIcons = document.querySelectorAll("a");
  headerIcons.forEach((icon) => {
    const name = icon.querySelector("div");

    icon.addEventListener("mouseover", (e) => {
      name.classList.add("animate__fadeIn");
      name.classList.remove("animate__fadeOut", "hidden");
    });

    icon.addEventListener("mouseleave", (e) => {
      name.classList.add("animate__fadeOut");
      name.classList.remove("animate__fadeIn");
    });
  });
</script>
