<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Progressions | Calisthenics Matrix</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
      body {
        background-color: #0f140f;
        /* opacity: 0.25; */
        background-image: radial-gradient(#007a021a 1px, transparent 1px),
          radial-gradient(#007a021a 1px, #0f140f 1px);
        background-size: 10px 10px;
        background-position: 0 0, 20px 2px;
        font-family: "VT323", monospace;
        color: white;
      }
    </style>
  </head>
  <body class="lg:h-screen lg:overflow-hidden">
    <%- include('./components/header.ejs') %>
    <div
      class="CONTENT z-40 p-[1.75rem] flex flex-col justify-center items-center md:items-start mx-auto px-5 lg:flex-row md:mt-14 lg:gap-9 lg:max-w-6xl"
    >
      <!-- exercises -->
      <div
        class="flex flex-col w-full max-w-[26.5rem] md:max-w-2xl mx-auto overflow-y-auto lg:h-[85vh] gap-7 items-center"
      >
        <% progressionsArrs.map((progressionArr, index)=>{%> 

        <%- include('./components/allProgressionsComponent.ejs', {progressionArr: progressionArr, namesArr: namesArr, index: index}) %>

        <%})%>
      </div>
    </div>
  </body>
</html>
